h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;   
}

nav a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 180%;
    color: black;    
}
section.welcome{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
    padding-top: 1%;

}

section.säugetier{
    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
}
section.insekten{
    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
}
section.fische{
    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
}

dt{
    text-align: center;
}

dd{
    text-align: center; 
    
}


article.animals{
   justify-content: space-around;
    margin: auto;
    display: flex;
   
}

section.video{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
    padding-top: 3%;
    padding-bottom: 3%;

}

footer{
    text-align: center;
}


table{
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
    display: inline-block;
    border: 2px solid black;
}
section.tabelle{
    text-align: center;
    padding-top: 2%;
}
p.tiere{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
    padding-top: 3%;
}

/*Hintergrundbild
/---------------*/
.background img{
  background-position: center;
  background-image: url(bilder/hintergrund.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  ;
}

