/*----------------------------------------------------
 Allgemein
 ---------------------------------------------------*/


body{
    font-family: 'Forum', cursive;
 }
h1{
    text-align: center;
    margin-top: 5%;
}

.icon{
    display: flex;
    justify-content: space-around;
}

.bild1{
    flex: 0 1 auto;
    align-items: center;  
}

nav{
    background: linear-gradient(#e2e0e0, #606063);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: auto;
    width: 80%;
    
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    
    
}
 li a{
    text-decoration: none;
    color: white;
    font-size: 170%;
    font-weight: bold;
}


/*-----------------------------------------------------
 Index.html
 -----------------------------------------------------*/


.display{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 80%;
    margin: auto;  
     
}


.Text{
    font-size: 250%;
}

.bildlinks{
    float: left;
    margin-right: 2rem;
}

.nr1{
    font-size: 120%;
    color: rgb(83, 179, 179);
    font-family: 'Liu Jian Mao Cao', cursive;
}

.nr2{
    font-size: 100%;
    color: plum;
    font-family: 'Liu Jian Mao Cao', cursive;
}
.nr3{
    font-size: 90%;
    color: rgb(64, 65, 20);
    font-family: 'Liu Jian Mao Cao', cursive;
}
.nr4{
    font-size: 80%;
    color: rgb(160, 221, 180);
    font-family: 'Liu Jian Mao Cao', cursive;
}
.nr5{
    font-size: 90%;
    color: rgb(0, 97, 161);
    font-family: 'Liu Jian Mao Cao', cursive;
}
.nr6{
    font-size: 110%;
    color: rgb(117, 25, 25);
    font-family: 'Liu Jian Mao Cao', cursive;
}
.nr7{
    font-size: 100%;
}

.B1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;  
    margin-top: 5%;
}

.btn1{
    background-color: #343634; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 180%;
    
}

.eins{
    color: rgb(19, 18, 18);
}

footer {
    display: flex;
    justify-content: space-evenly;
    font-size:160%;
}


/*-----------------------------------------------------
 Unikate.html
 -----------------------------------------------------*/

.unikat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "kopf kopf kopf kopf"
                         "navi navi navi navi" 
                         "contentTextFirst contentTextFirst contentImageFirst contentImageFirst"
                         "contentImageSecond contentImageSecond contentTextSecond contentTextSecond"
                         "fuss fuss fuss fuss";
    align-content: space-between;
    row-gap: 2%;
   
    
}
.kopf{
    grid-area: kopf;
}

.navi{
    grid-area: navi; 
}

.navi ul{
    margin-top: 0;
    padding-top: 3%;
    padding-bottom: 2%;
       
}


.contentImageFirst{
   grid-area: contentImageFirst; ;
   margin: auto;

   
}

.contentTextFirst{
    grid-area: contentTextFirst;
    padding: 5%;
    font-size: 160%;

}

.contentImageSecond{
   grid-area:contentImageSecond; 
   margin: auto;
}

.contentTextSecond{
    grid-area: contentTextSecond;
    padding: 5%;
    font-size: 160%;
}
  
.fuss{
    grid-area: fuss;   
}


/*--------------- 
Mediaqueries
----------------*/

@media screen and (max-width: 1865px){
    .bildlinks{
        max-width: 100%;
        height: auto;
        margin: auto;
        clear: left;
        
    }
    .display{
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    body{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1037px){
    .bildlinks{
        max-width: 100%;
        height: auto;
        margin: 0%;

        
    }

    body{
        font-size: 0.5em;
    }
}

@media screen and (max-width: 530px){
    .bildlinks{
        max-width: 100%;
        height: auto;
    }

    nav ul{
       display: block;
       padding-left: 0;
    }

    li a{
        margin: 0.1rem 0;

    }

    body{
        font-size: 0.5em;
    }
}


/*Unikate
----------*/

@media screen and (max-width: 770px){

    .unikat{
        display: block;
    }
    .img-fluid{
        max-width: 100%;
    }
}










